<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.admin.mapper.AdminMapper">

    <!-- 管理员登录 -->
    <select id="selectAdminByAdminNameAndPassword" parameterType="Admin" resultType="Admin">
        select *
        from admin
        where admin_name=#{adminName} and admin_password=#{adminPassword};
    </select>

    <!--查询用户数量-->
    <select id="selectUserCount" resultType="Integer">
        select count(user_id)
        from user;
    </select>

    <!--查看用户信息-->
    <select id="selectUserByPage" resultType="User">
        select *
        from user
        limit #{start},#{rows};
    </select>

    <!--删除用户信息-->
    <delete id="deleteUserByUserId" parameterType="Integer">
        delete
        from user
        where user_id = #{userId};
    </delete>

    <!--查看想领养的动物信息-temp表-->
    <select id="selectTempCount" resultType="Integer">
        select count(temp_id)
        from temp;
    </select>

    <!--查看想领养的动物信息-temp表-分页-->
    <select id="selectTempByPage" resultType="Temp">
        select *
        from temp
        where status_id = 0
        limit #{start},#{rows};
    </select>



    <!--批准用户领养动物-->
    <insert id="insertAdopt" parameterType="Adopt">
        insert into adopt(
            user_id,
            animal_id,
            adopt_create_time
        )values(
            #{userId},
            #{animalId},
            #{adoptCreateTime}
        )
    </insert>

    <update id="updateTemp">
        update temp
        set status_id = 1
        where user_id = #{userId};
    </update>

    <select id="selectVolunteerCount" resultType="Integer">
        select count(volunteer_id) from volunteer;
    </select>

    <!-- 查看想要成为志愿者的人的名单     分页查询 -->
    <select id="selectVolunteerByPage" resultType="Volunteer">
        select *
        from volunteer
        where volunteer_status = 0
        limit #{start},#{rows};
    </select>


    <!-- 批准成为志愿者 -->
    <update id="updateVolunteer" parameterType="Integer">
        update volunteer
        set
        volunteer_status = 1
        where user_id = #{userId};
    </update>

    <select id="selectAlreadyVolunteerCount" resultType="Integer">
        select count(volunteer_id) from volunteer;
    </select>

    <!--查看志愿者名单-->
    <select id="selectAlreadyVolunteerByPage" resultType="Volunteer">
        select *
        from volunteer
        where volunteer_status = 1
        limit #{start},#{rows};
    </select>

    <!--查看申请表数量-->
    <select id="selectShenqingCount" resultType="Integer">
        select count(shenqing_id) from shenqing;
    </select>

    <!--申请表分页查询-->
    <select id="selectShenqingByPage" resultType="Shenqing">
        select *
        from shenqing
        limit #{start},#{rows};
    </select>

    <!--批准物资-->
    <update id="pizhun" parameterType="Integer">
        update user
        set user_status = 3
        where user_id = #{userId};
    </update>

    <!--发放完物资之后把剩余物资数更新-->
    <update id="fafang" parameterType="Goods">
        update goods
        set goods_kouzhao = #{goodsKouzhao},goods_tiwen = #{goodsTiwen},goods_xiaodu = #{goodsXiaodu}
        where goods_id = 1;
    </update>

    <!--根据用户ID把申请物资的类型找出来-->
    <select id="shenqingTy" parameterType="Integer" resultType="Integer">
        select shenqing_type
        from shenqing
        where user_id = #{userId};
    </select>

    <!--获取当前申请表的对象-->
    <select id="goods" resultType="Goods">
        select *
        from goods;
    </select>

    <!--从申请表中把该条信息删除-->
    <delete id="shanshenqing" parameterType="Integer">
        delete from fix
        where user_id = #{userId};
    </delete>

    <!--添加文章-->
    <insert id="wenzhang" parameterType="Wenzhang">
        insert into wenzhang(
            wenzhang_title,
            wenzhang_info,
            wenzhang_img,
            user_name,
            c_time
        )values(
            #{wenzhangTitle},
            #{wenzhangInfo},
            #{wenzhangImg},
            #{userName},
            #{cTime}
        );
    </insert>

    <!--删除文章-->
    <delete id="shanwen" parameterType="Integer">
        delete from wenzhang
        where wenzhang_id = #{wenzhangId};
    </delete>

    <!--删除评论-->
    <delete id="shanping" parameterType="Integer">
        delete from message
        where message_id = #{messageId};
    </delete>

    <!--修改患者人数-->
    <update id="xiugaihuanzhe" parameterType="Huanzhe">
        update huanzhe
        set xianyou = #{xianyou},leiji = #{leiji},bijiao = #{bijiao},live = #{live},death = #{death}
        where diqu = #{diqu};
    </update>

    <!--查询查询结果数量-->
    <select id="selectGoodsCount" resultType="Integer">
        select count(goods_id) from goods;
    </select>

    <!--分页查看剩余物资数量-->
    <select id="selectGoodsByPage" resultType="Goods">
        select *
        from goods
        limit #{start},#{rows};
    </select>

    <!--修改口罩数量-->
    <update id="kouzhao" parameterType="Integer">
        update goods
        set goods_kouzhao = #{goodsKouzhao}
        where goods_id = 1;
    </update>

    <!--修改消毒水数量-->
    <update id="xiaodu" parameterType="Integer">
        update goods
        set goods_xiaodu = #{goodsXiaodu}
        where goods_id = 1;
    </update>

    <!--修改体温计数量-->
    <update id="tiwen" parameterType="Integer">
        update goods
        set goods_tiwen = #{goodsTiwen}
        where goods_id = 1;
    </update>


    <!--查看维修人员用户名是否存在-->
    <select id="selectUserCountByUserName" parameterType="String" resultType="Integer">
        select count(fixer_id)
        from fixer
        where user_name = #{userName};
    </select>

    <!--维修人员注册-->
    <insert id="insertFixer" parameterType="User">
        insert into fixer (
            user_name,
            password,
            name,
            shenfen_num,
            phone,
            status
        )values(
            #{userName},
            #{password},
            #{name},
            #{shenfenNum},
            #{phone},
            #{status}

        );
    </insert>


    <!-- 管理员登录 -->
    <select id="selectFixerByUserNameAndPassword" parameterType="Fixer" resultType="Fixer">
        select *
        from fixer
        where user_name=#{userName} and password=#{password};
    </select>


    <!--查询Fix表中搜索出的数据量-->
    <select id="selectFixCount" resultType="Integer">
        select count(fixId)
        from fix;
    </select>

    <!--分页查看Fix表中数据-->
    <select id="selectFixByPage" parameterType="Fix" resultType="Fix">
        select *
        from fix
        limit #{start},#{rows};
    </select>


    <!-- 维修人员接单,把数据存到handle表中 -->
    <insert id="handle" parameterType="Handle">
        insert into handle(
            user_id,
            user_name,
            fix_id,
            handle_status,
            fixer_name
        )values(
            #{userId},
            #{userName},
            #{fixId},
            1,
            #{fixerName}
        )
    </insert>

    <!-- 把用户的状态码改为3 -->
    <update id="changeUserStatus" parameterType="Integer">
        update user
        set user_status = 3;
    </update>

    <!-- handle表中的数量 -->
    <select id="selectHandleCount" resultType="Integer">
        select count(handle_id)
        from handle;
    </select>

    <!-- 维修人员查看我的任务 -->
    <select id="selectHandleByPage" resultType="Handle">
        select *
        from handle
        where fix_id = #{fixId}
        limit #{start},#{rows};
    </select>

    <!-- 维修人员完成订单 把订单状态码从1改成2 -->
    <update id="finishHandle" parameterType="Integer">
        update handle
        set handle_status = 2;
    </update>


    <!-- 把用户的状态码改为4 -->
    <update id="changeUserStatus4">
        update user
        set user_status = 4
        where user_id = #{userId};
    </update>


    <!-- 维修人员查看自己已经完成的任务 -->
    <select id="selectHandleByPage2" parameterType="Integer" resultType="Handle">
        select *
        from handle
        where fix_id = #{fixId} and handle_status = 2
        limit #{start},#{rows};
    </select>


    <!-- 查询维修人员总数量 -->
    <select id="selectFixerCount" resultType="Integer">
        select count(fixer_id)
        from fixer;
    </select>


    <!-- 分页查看所有维修人员 -->
    <select id="selectFixerByPage" resultType="Fixer">
        select *
        from fixer
        limit #{start},#{rows};
    </select>

    <!-- 删除维修人员 -->
    <delete id="shanfixer">
        delete from fixer
        where fixer_id = #{fixerId};
    </delete>

    <!-- 管理员查看所有的订单 -->
    <select id="selectHandleByPage3" parameterType="Integer" resultType="Handle">
        select *
        from handle
        limit #{start},#{rows};
    </select>

</mapper>















