<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.admin.mapper.AdminMapper">

    <!-- 管理员登录 -->
    <select id="selectAdminByAdminNameAndPassword" parameterType="Admin" resultType="Admin">
        select *
        from admin
        where admin_name=#{adminName} and admin_password=#{adminPassword};
    </select>

    <!--查询用户数量-->
    <select id="selectUserCount" resultType="Integer">
        select count(user_id)
        from user;
    </select>

    <!--查看用户信息-->
    <select id="selectUserByPage" resultType="User">
        select *
        from user
        limit #{start},#{rows};
    </select>

    <!--删除用户信息-->
    <delete id="deleteUserByUserId" parameterType="Integer">
        delete
        from user
        where user_id = #{userId};
    </delete>

    <select id="selectTempCount" resultType="Integer">
        select count(temp_id)
        from temp;
    </select>

    <select id="selectTempByPage" resultType="Temp">
        select *
        from temp
        limit #{start},#{rows};
    </select>

    <insert id="insertAdopt" parameterType="Adopt">
        insert into adopt(
            user_id,
            animal_id,
            adopt_create_time
        )values(
            #{userId},
            #{animalId},
            #{adoptCreateTime}
        )
    </insert>

    <select id="selectVolunteerCount" resultType="Integer">
        select count(user_id) from user;
    </select>

    <!-- 查看想要成为志愿者的人的名单     分页查询 -->
    <select id="selectVolunteerByPage" resultType="User">
        select *
        from user
        where user_type = 2
        limit #{start},#{rows}
    </select>

    <!-- 批准成为志愿者 -->
    <update id="updateVolunteer" parameterType="Integer">
        update user
        set
        user_type = 3
        where user_id = #{userId};
    </update>

</mapper>