<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.user.mapper.UserMapper">

    <!-- 注册用户之前查看用户名是否存在 -->
    <select id="selectUserCountByUserName" parameterType="String"
            resultType="Integer">
        select count(user_id)
        from user
        where user_name=#{userName};
    </select>

    <!-- 注册用户 -->
    <insert id="insertUser" parameterType="User">
        insert into user (
            user_name,
            user_password,
            user_phone,
            user_gender,
            user_type
        )values(
            #{userName},
            #{userPassword},
            #{userPhone},
            #{userGender},
            #{userType}
        )
    </insert>

    <!-- 登录 -->
    <select id="selectUserByUserNameAndPassword"
            parameterType="User" resultType="User">
        select *
        from user
        where user_name=#{userName} and user_password=#{userPassword};
    </select>

    <!-- 查询用户总数量 -->
    <select id="selectUserCount" resultType="Integer">
        select count(user_id) from user;
    </select>

    <!-- 分页查看用户 -->
    <select id="selectUserByPage" resultType="User">
        select *
        from user
        limit #{start},#{rows}
    </select>

    <!-- 根据ID查询用户 -->
    <select id="selectUserById" resultType="User">
        select *
        from user
        where user_id = #{userId};
    </select>

    <!-- 删除用户 -->
    <delete id="deleteUserById" parameterType="Integer">
        delete from user
        where user_id = #{userId};
    </delete>

    <!--查看temp表中是否有animalId-->
    <select id="selectStatusByAnimalId" resultType="Temp">
        select *
        from temp
        where animal_id = #{animalId};
    </select>

    <!--查看temp表中是否有userId-->
    <select id="selectStatusByUserId" resultType="Temp">
        select *
        from temp
        where user_id = #{userId};
    </select>

    <!--查看是否重复申请-->
    <select id="selectStatusByUserIdAndAnimalId" parameterType="Integer" resultType="Temp">
        select *
        from temp
        where user_id = #{userId} and animal_id = #{animalId};
    </select>

    <!-- 申请领养动物、往伪领养表中添加数据 -->
    <insert id="insertTemp">
        insert into temp(
            user_id,
            animal_id,
            user_name
        )values(
            #{userId},
            #{animalId},
            #{userName}
        )
    </insert>

    <!-- 得到用户的申请领养状态码 判断用户是否已经领养过别的动物 -->
    <select id="getUserType" parameterType="Integer" resultType="Integer">
        select user_type
        from user
        where user_id = #{userId};
    </select>

    <!-- 改变用户的状态码为2-代表已经领养过动物，正在等待管理员审核 -->
    <update id="changeUserType2">
        update user set
        user_type = 2
        where user_id = #{userId};
    </update>

    <!--查看自己正在申请领养的动物-->
    <select id="selectTemp" parameterType="Integer" resultType="Animal">
        SELECT animal_id,animal_name,give_name,give_phone
            FROM animal
            WHERE animal_id = (SELECT animal_id
                                FROM temp
                                WHERE user_id = #{userId}
                                );
    </select>

    <select id = "selectAdoptCount" resultType="Integer">
        select count(user_id) from adopt;
    </select>

    <!-- 查看自己被批准的可以领养的动物 -->
    <select id="selectAdoptByUserId" parameterType="Integer" resultType="Animal">
        SELECT *
        FROM animal
        WHERE animal_id = (SELECT animal_id
                            FROM adopt
                            WHERE user_id = #{userId}
		                    );
    </select>

    <!-- 申请成为志愿者 -->
    <update id="updateUserById">
        update user set
        user_type = 2
        where user_id = #{userId};
    </update>

    <!--申请成为志愿者-往volunteer表中插入数据-->
    <insert id="insertVolunteer" parameterType="Volunteer">
        insert into volunteer(
            user_id,
            volunteer_name,
            volunteer_gender,
            volunteer_age,
            volunteer_address,
            volunteer_phone,
            volunteer_image
        )values (
            #{userId},
            #{volunteerName},
            #{volunteerGender},
            #{volunteerAge},
            #{volunteerAddress},
            #{volunteerPhone},
            #{volunteerImage}
        );
    </insert>

    <!--查看自己的志愿者状态-->
    <select id="checkVolunteer" parameterType="Integer" resultType="Volunteer">
        select *
        from volunteer
        where user_id = #{userId};
    </select>

    <!-- 领养处  模糊查询  查询出的动物总数量 -->
    <select id="selectAnimalCount" resultType="Integer">
        select count(animal_id)
        from animal;
    </select>

    <!-- 领养处  模糊查询 -->
    <select id="selectAnimalByPage" resultType="Animal">
        SELECT *
        FROM animal
        WHERE give_title LIKE concat('%',#{text},'%')
        limit #{start},#{rows};
    </select>

    <!-- 查看自己的领养状态码 -->
    <select id="checkType" resultType="Integer">
        select user_type
        from user
        where user_id = #{userId};
    </select>

</mapper>



















