<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.user.mapper.UserMapper">
    <select id="selectUserCountByUserName" parameterType="String"
            resultType="Integer">
        select count(user_id)
        from user
        where user_name=#{userName};
    </select>

    <insert id="insertUser" parameterType="User">
        insert into user (
            user_name,
            user_password,
            user_phone,
            user_gender,
            user_type
        )values(
            #{userName},
            #{userPassword},
            #{userPhone},
            #{userGender},
            #{userType}
        )
    </insert>

    <select id="selectUserByUserNameAndPassword"
            parameterType="User" resultType="User">
        select *
        from user
        where user_name=#{userName} and user_password=#{userPassword};
    </select>

    <select id="selectUserCount" resultType="Integer">
        select count(user_id) from user;
    </select>

    <select id="selectUserByPage" resultType="User">
        select *
        from user
        limit #{start},#{rows}
    </select>

    <select id="selectUserById" resultType="User">
        select *
        from user
        where user_id = #{userId};
    </select>

    <delete id="deleteUserById" parameterType="Integer">
        delete from user
        where user_id = #{userId};
    </delete>

    <!--查看temp表中是否有animalId-->
    <select id="selectStatusByAnimalId" resultType="Temp">
        select *
        from temp
        where animal_id = #{animalId};
    </select>

    <!--查看temp表中是否有userId-->
    <select id="selectStatusByUserId" resultType="Temp">
        select *
        from temp
        where user_id = #{userId};
    </select>

    <!--查看是否重复申请-->
    <select id="selectStatusByUserIdAndAnimalId" parameterType="Integer" resultType="Temp">
        select *
        from temp
        where user_id = #{userId} and animal_id = #{animalId};
    </select>

    <!-- 申请领养动物、往伪领养表中添加数据 -->
    <insert id="insertTemp">
        insert into temp(
            user_id,
            animal_id,
            user_name
        )values(
            #{userId},
            #{animalId},
            #{userName}
        )
    </insert>

    <select id = "selectAdoptCount" resultType="Integer">
        select count(user_id) from adopt;
    </select>

    <!-- 查看自己被批准的可以领养的动物 -->
    <select id="selectAdoptByPage" resultType="Adopt">
        select *
        from adopt
        where user_id = #{userId}
        limit #{start},#{rows};
    </select>

    <!-- 申请成为志愿者 -->
    <update id="updateUserById">
        update user set
        user_type = 2
        where user_id = #{userId};
    </update>
</mapper>



















